@import "../../../../styles/app";

.chat-list-section {
  .chat-search {
    position: relative;

    .la {
      font-size: $spacer * 1.5;
      color: $text-muted;
      position: absolute;
      right: $chat-component-padding;
      top: 50%;
      transform: translateY(-50%) scaleX(-1);
      padding: $input-padding-y $input-padding-x;
    }

    .form-control {
      border: none;
    }
  }
}

.personal-chats {
  height: 300px;
  overflow: auto;

  @include chat-scrollbar();
}

.chat-list {
  margin: 0 (-$chat-component-padding);
}

.chat-list-item {
  padding-left: $chat-component-padding;

  .chat-list-item-wrapper {
    display: flex;
    align-items: center;
    padding: ($spacer/1.5) $chat-component-padding ($spacer/1.5) 0;
  }

  .chat-item-main {
    flex: 1;
    min-width: 0;
  }

  .chat-title {
    margin-bottom: 0;
  }

  .chat-last-message {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .chat-last-message,
  .timestamp {
    color: $text-muted;
  }

  &:hover {
    cursor: pointer;
    background: lighten($info, 30%);
  }

  &.active {
    background: lighten($info, 15%);
  }

  &:hover,
  &.active {
    .chat-title,
    .chat-last-message,
    .timestamp {
      color: $white;
    }

  }

  &.active {
    .chat-title {
      font-weight: $font-weight-semi-bold;
    }
  }
}

.chat-list-item + .chat-list-item {
  .chat-list-item-wrapper {
    border-top: 1px solid $border-color;
  }

  &:hover .chat-list-item-wrapper {
    border-top-color: lighten($info, 30%);
  }

  &.active .chat-list-item-wrapper {
    border-top-color: lighten($info, 15%);
  }
}
