@import '../../../styles/app';

.product-page {
  .section {
    margin-bottom: $spacer * 5;
  
    @include media-breakpoint-down(sm) {
      background-color: $white;
      margin: 0 -15px;
  
      & :global .hideon-sm {
        display: none;
      }
    }
  
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .sectionTitle {
    width: 100%;
    text-align: center;
    margin-bottom: $spacer * 2;
    font-weight: $font-weight-normal;
    color: theme-color('dark');
  
    @include media-breakpoint-down(sm) {
      font-size: 1.4rem;
      margin-bottom: $content-padding / 2;
  
      &.hide-sm {
        display: none;
      }
    }
  }
  
  .slider {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  
    @include media-breakpoint-down(sm) {
      margin-bottom: -#{$content-padding / 2};
      padding-bottom: 50px;
    }
  
    .productCard {
      margin-bottom: 0;
    }
  }
  
  .sliderItem {
    padding: 0 10px;
  
    @include media-breakpoint-down(sm) {
      padding: 5px;
    }
  }
  
  .slick {
    .slick-track {
      display: flex;
    }
  }
  
  .arrow {
    z-index: 99;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 135px;
    border: none;
    background-color: rgba(0, 0, 0, 0.15);
  
    @include media-breakpoint-down(sm) {
      display: none !important;
    }
  
    &:focus {
      outline: none;
    }
  
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.25);
    }
  
    img {
      height: 20px;
      width: 20px;
    }
  }
  
  .arrow-left {
    left: 10px;
  
    img {
      transform: rotate(180deg);
    }
  }
  
  .arrow-right {
    right: 10px;
  }  
}