@import "../../styles/app";

.chat-page {
  flex-grow: 1;
  display: flex;
  height: calc(100vh - #{$navbar-height} - 2 * #{$content-padding} - 20px);

  .chat-info-section,
  .chat-list-section {
    min-width: 25%;
  }

  .chat-dialog-section {
    min-width: 50%;
    padding: 0 $chat-component-padding;
  }

  .chat-section {
    box-shadow: var(--widget-shadow);
    border-radius: $border-radius;
    background: $white;
    padding: $chat-component-padding;
    margin-bottom: $spacer;
  }

  .form-control {
    background-color: $gray-100;

    &::placeholder {
      font-size: $font-size-mini;
    }

    &:focus {
      background-color: darken($gray-100, 5%);
    }
  }
}
