@import '../../../styles/app';

.vector-map {
  .contentMap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    + .page-title {
      position: relative;
      z-index: 2;
    }
  }
}
