@import '../../../styles/app';

.vector-map {
  height: calc(100vh - #{$navbar-height});
  width: 100%;
  position: absolute;
  margin-top: -#{$content-padding / 2};
  margin-bottom: -#{$content-padding / 2};
  margin-left: -#{$content-padding / 2};

  .contentMap {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    + .page-title {
      position: relative;
      z-index: 2;
      margin: $content-padding / 2;
    }
  }
}
