body:after {
  content:
    url(../../src/assets/icons/arrow-down.svg)
    url(../../src/assets/icons/arrow-down-blue.svg)
    url(../../src/assets/icons/arrow-down-second.svg)
    url(../../src/assets/icons/browser.svg)
    url(../../src/assets/icons/browser-blue.svg)
    url(../../src/assets/icons/browser-grey.svg)
    url(../../src/assets/icons/browser-seven.svg)
    url(../../src/assets/icons/browser-white.svg)
    url(../../src/assets/icons/close.svg)
    url(../../src/assets/icons/layout.svg)
    url(../../src/assets/icons/layout-blue.svg)
    url(../../src/assets/icons/bell.svg)
    url(../../src/assets/icons/bell-blue.svg)
    url(../../src/assets/icons/home.svg)
    url(../../src/assets/icons/home-blue.svg)
    url(../../src/assets/icons/menu.svg)
    url(../../src/assets/icons/flip.svg)
    url(../../src/assets/icons/text.svg)
    url(../../src/assets/icons/text-blue.svg)
    url(../../src/assets/icons/cube.svg)
    url(../../src/assets/icons/cube-blue.svg)
    url(../../src/assets/icons/search-2.svg)
    url(../../src/assets/icons/close.svg)
    url(../../src/assets/icons/close-blue.svg)
    url(../../src/assets/icons/close-second.svg)
    url(../../src/assets/icons/copy.svg)
    url(../../src/assets/icons/copy-blue.svg)
    url(../../src/assets/icons/copy-grey.svg)
    url(../../src/assets/icons/copy-seven.svg)
    url(../../src/assets/icons/copy-third.svg)
    url(../../src/assets/icons/copy-white.svg)
    url(../../src/assets/icons/cube.svg)
    url(../../src/assets/icons/cube-blue.svg)
    url(../../src/assets/icons/email.svg)
    url(../../src/assets/icons/email-blue.svg)
    url(../../src/assets/icons/email-grey.svg)
    url(../../src/assets/icons/email-seven.svg)
    url(../../src/assets/icons/email-third.svg)
    url(../../src/assets/icons/email-white.svg)
    url(../../src/assets/icons/file-text.svg)
    url(../../src/assets/icons/file-text-blue.svg)
    url(../../src/assets/icons/file-text-grey.svg)
    url(../../src/assets/icons/file-text-white.svg)
    url(../../src/assets/icons/fire.svg)
    url(../../src/assets/icons/fire-blue.svg)
    url(../../src/assets/icons/fire-grey.svg)
    url(../../src/assets/icons/fire-seven.svg)
    url(../../src/assets/icons/fire-third.svg)
    url(../../src/assets/icons/fire-white.svg)
    url(../../src/assets/icons/flip.svg)
    url(../../src/assets/icons/flip-blue.svg)
    url(../../src/assets/icons/flip-second.svg)
    url(../../src/assets/icons/grid.svg)
    url(../../src/assets/icons/grid-blue.svg)
    url(../../src/assets/icons/grid-grey.svg)
    url(../../src/assets/icons/grid-seven.svg)
    url(../../src/assets/icons/grid-third.svg)
    url(../../src/assets/icons/grid-white.svg)
    url(../../src/assets/icons/home.svg)
    url(../../src/assets/icons/home-blue.svg)
    url(../../src/assets/icons/home-grey.svg)
    url(../../src/assets/icons/home-seven.svg)
    url(../../src/assets/icons/home-third.svg)
    url(../../src/assets/icons/home-white.svg)
    url(../../src/assets/icons/keypad.svg)
    url(../../src/assets/icons/keypad-blue.svg)
    url(../../src/assets/icons/keypad-grey.svg)
    url(../../src/assets/icons/keypad-seven.svg)
    url(../../src/assets/icons/keypad-third.svg)
    url(../../src/assets/icons/keypad-white.svg)
    url(../../src/assets/icons/layers.svg)
    url(../../src/assets/icons/layers-blue.svg)
    url(../../src/assets/icons/layers-grey.svg)
    url(../../src/assets/icons/layers-seven.svg)
    url(../../src/assets/icons/layers-third.svg)
    url(../../src/assets/icons/layers-white.svg)
    url(../../src/assets/icons/layout.svg)
    url(../../src/assets/icons/layout-blue.svg)
    url(../../src/assets/icons/layout-grey.svg)
    url(../../src/assets/icons/layout-seven.svg)
    url(../../src/assets/icons/layout-third.svg)
    url(../../src/assets/icons/layout-white.svg)
    url(../../src/assets/icons/list.svg)
    url(../../src/assets/icons/list-blue.svg)
    url(../../src/assets/icons/list-grey.svg)
    url(../../src/assets/icons/list-third.svg)
    url(../../src/assets/icons/list-white.svg)
    url(../../src/assets/icons/menu.svg)
    url(../../src/assets/icons/menu-blue.svg)
    url(../../src/assets/icons/menu-second.svg)
    url(../../src/assets/icons/message-circle.svg)
    url(../../src/assets/icons/message-circle-blue.svg)
    url(../../src/assets/icons/message-circle-grey.svg)
    url(../../src/assets/icons/message-circle-seven.svg)
    url(../../src/assets/icons/message-circle-third.svg)
    url(../../src/assets/icons/message-circle-white.svg)
    url(../../src/assets/icons/person.svg)
    url(../../src/assets/icons/person-blue.svg)
    url(../../src/assets/icons/person-grey.svg)
    url(../../src/assets/icons/person-seven.svg)
    url(../../src/assets/icons/person-third.svg)
    url(../../src/assets/icons/person-white.svg)
    url(../../src/assets/icons/pie-chart.svg)
    url(../../src/assets/icons/pie-chart-blue.svg)
    url(../../src/assets/icons/pie-chart-grey.svg)
    url(../../src/assets/icons/pie-chart-seven.svg)
    url(../../src/assets/icons/pie-chart-third.svg)
    url(../../src/assets/icons/pie-chart-white.svg)
    url(../../src/assets/icons/pin.svg)
    url(../../src/assets/icons/pin-blue.svg)
    url(../../src/assets/icons/pin-grey.svg)
    url(../../src/assets/icons/pin-seven.svg)
    url(../../src/assets/icons/pin-third.svg)
    url(../../src/assets/icons/pin-white.svg)
    url(../../src/assets/icons/search-2.svg)
    url(../../src/assets/icons/search-2-blue.svg)
    url(../../src/assets/icons/search-2-second.svg)
    url(../../src/assets/icons/settings-10.svg)
    url(../../src/assets/icons/settings-10-blue.svg)
    url(../../src/assets/icons/settings-10-second.svg)
    url(../../src/assets/icons/shopping-bag.svg)
    url(../../src/assets/icons/shopping-bag-blue.svg)
    url(../../src/assets/icons/shopping-bag-grey.svg)
    url(../../src/assets/icons/shopping-bag-seven.svg)
    url(../../src/assets/icons/shopping-bag-third.svg)
    url(../../src/assets/icons/shopping-bag-white.svg)
    url(../../src/assets/icons/text.svg)
    url(../../src/assets/icons/text-blue.svg)
    url(../../src/assets/icons/settings-10.svg)
    url(../../src/assets/icons/power.svg)
    url(../../src/assets/icons/calendar.svg);
  display: none;
}

i.fi {
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.sidebar-default {
  .flaticon-arrow-down {
    background-image: url('../../src/assets/icons/arrow-down.svg');
  }

  .flaticon-close {
    background-image: url('../../src/assets/icons/close.svg');
  }

  .router-link-active .flaticon-equal-1 {
    background-image: url('../../src/assets/icons/layout.svg');
  }
  .flaticon-equal-1 {
    background-image: url('../../src/assets/icons/layout-blue.svg');
  }

  .router-link-active .flaticon-bell {
    background-image: url('../../src/assets/icons/bell.svg');
  }
  .flaticon-bell {
    background-image: url('../../src/assets/icons/bell-blue.svg');
  }

  .router-link-active .flaticon-home {
    background-image: url('../../src/assets/icons/home.svg');
  }
  .flaticon-home {
    background-image: url('../../src/assets/icons/home-blue.svg');
  }

  .flaticon-menu {
    background-image: url('../../src/assets/icons/menu.svg');
  }

  .flaticon-flip {
    background-image: url('../../src/assets/icons/flip.svg');
  }

  .router-link-active .flaticon-list {
    background-image: url('../../src/assets/icons/text.svg');
  }
  .flaticon-list {
    background-image: url('../../src/assets/icons/text-blue.svg');
  }

  .router-link-active .flaticon-network {
    background-image: url('../../src/assets/icons/cube.svg');
  }
  .flaticon-network {
    background-image: url('../../src/assets/icons/cube-blue.svg');
  }

  .flaticon-search-2 {
    background-image: url('../../src/assets/icons/search-2.svg');
  }

  .flaticon-settings-10 {
    background-image: url('../../src/assets/icons/settings-10.svg');
  }
  .flaticon-person {
    background-image: url('../../src/assets/icons/person-blue.svg');
  }
  .router-link-active .flaticon-person {
    background-image: url('../../src/assets/icons/person.svg');
  }

  .flaticon-layers-2 {
    background-image: url('../../src/assets/icons/layers-blue.svg');
  }
  .router-link-active .flaticon-layers-2 {
    background-image: url('../../src/assets/icons/layers.svg');
  }

  .flaticon-message-circle {
    background-image: url('../../src/assets/icons/message-circle-blue.svg');
  }
  .router-link-active .flaticon-message-circle {
    background-image: url('../../src/assets/icons/message-circle.svg');
  }

  .flaticon-shopping-bag {
    background-image: url('../../src/assets/icons/shopping-bag-blue.svg');
  }
  .router-link-active .flaticon-shopping-bag {
    background-image: url('../../src/assets/icons/shopping-bag.svg');
  }

  .flaticon-email {
    background-image: url('../../src/assets/icons/email-blue.svg');
  }
  .router-link-active .flaticon-email {
    background-image: url('../../src/assets/icons/email.svg');
  }

  .flaticon-documentation {
    background-image: url('../../src/assets/icons/file-text-blue.svg');
  }
  .router-link-active .flaticon-documentation {
    background-image: url('../../src/assets/icons/file-text.svg');
  }

  .flaticon-core {
    background-image: url('../../src/assets/icons/keypad-blue.svg');
  }
  .router-link-active .flaticon-core {
    background-image: url('../../src/assets/icons/keypad.svg');
  }

  .flaticon-ui {
    background-image: url('../../src/assets/icons/browser-blue.svg');
  }
  .router-link-active .flaticon-ui {
    background-image: url('../../src/assets/icons/browser.svg');
  }

  .flaticon-forms {
    background-image: url('../../src/assets/icons/copy-blue.svg');
  }
  .router-link-active .flaticon-forms {
    background-image: url('../../src/assets/icons/copy.svg');
  }

  .flaticon-charts {
    background-image: url('../../src/assets/icons/pie-chart-blue.svg');
  }
  .router-link-active .flaticon-charts {
    background-image: url('../../src/assets/icons/pie-chart.svg');
  }

  .flaticon-grid {
    background-image: url('../../src/assets/icons/grid-blue.svg');
  }
  .router-link-active .flaticon-grid {
    background-image: url('../../src/assets/icons/grid.svg');
  }

  .flaticon-pin-1 {
    background-image: url('../../src/assets/icons/pin-blue.svg');
  }
  .router-link-active .flaticon-pin-1 {
    background-image: url('../../src/assets/icons/pin.svg');
  }

  .flaticon-extra {
    background-image: url('../../src/assets/icons/fire-blue.svg');
  }
  .router-link-active .flaticon-extra {
    background-image: url('../../src/assets/icons/fire.svg');
  }

  .flaticon-list-2 {
    background-image: url('../../src/assets/icons/list-blue.svg');
  }
  .router-link-active .flaticon-list-2 {
    background-image: url('../../src/assets/icons/list.svg');
  }
}

.sidebar-first {
  .flaticon-arrow-down {
    background-image: url('../../src/assets/icons/arrow-down.svg');
  }

  .flaticon-close {
    background-image: url('../../src/assets/icons/close.svg');
  }

  .router-link-active .flaticon-equal-1 {
    background-image: url('../../src/assets/icons/layout.svg');
  }
  .flaticon-equal-1 {
    background-image: url('../../src/assets/icons/layout-blue.svg');
  }

  .router-link-active .flaticon-bell {
    background-image: url('../../src/assets/icons/bell.svg');
  }
  .flaticon-bell {
    background-image: url('../../src/assets/icons/bell-blue.svg');
  }

  .router-link-active .flaticon-home {
    background-image: url('../../src/assets/icons/home.svg');
  }
  .flaticon-home {
    background-image: url('../../src/assets/icons/home-blue.svg');
  }

  .flaticon-menu {
    background-image: url('../../src/assets/icons/menu.svg');
  }

  .flaticon-flip {
    background-image: url('../../src/assets/icons/flip.svg');
  }

  .router-link-active .flaticon-list {
    background-image: url('../../src/assets/icons/text.svg');
  }
  .flaticon-list {
    background-image: url('../../src/assets/icons/text-blue.svg');
  }

  .router-link-active .flaticon-network {
    background-image: url('../../src/assets/icons/cube.svg');
  }
  .flaticon-network {
    background-image: url('../../src/assets/icons/cube-blue.svg');
  }

  .flaticon-search-2 {
    background-image: url('../../src/assets/icons/search-2.svg');
  }

  .flaticon-settings-10 {
    background-image: url('../../src/assets/icons/settings-10.svg');
  }
  .flaticon-person {
    background-image: url('../../src/assets/icons/person-blue.svg');
  }
  .router-link-active .flaticon-person {
    background-image: url('../../src/assets/icons/person.svg');
  }

  .flaticon-layers-2 {
    background-image: url('../../src/assets/icons/layers-blue.svg');
  }
  .router-link-active .flaticon-layers-2 {
    background-image: url('../../src/assets/icons/layers.svg');
  }

  .flaticon-message-circle {
    background-image: url('../../src/assets/icons/message-circle-blue.svg');
  }
  .router-link-active .flaticon-message-circle {
    background-image: url('../../src/assets/icons/message-circle.svg');
  }

  .flaticon-shopping-bag {
    background-image: url('../../src/assets/icons/shopping-bag-blue.svg');
  }
  .router-link-active .flaticon-shopping-bag {
    background-image: url('../../src/assets/icons/shopping-bag.svg');
  }

  .flaticon-email {
    background-image: url('../../src/assets/icons/email-blue.svg');
  }
  .router-link-active .flaticon-email {
    background-image: url('../../src/assets/icons/email.svg');
  }

  .flaticon-documentation {
    background-image: url('../../src/assets/icons/file-text-blue.svg');
  }
  .router-link-active .flaticon-documentation {
    background-image: url('../../src/assets/icons/file-text.svg');
  }

  .flaticon-core {
    background-image: url('../../src/assets/icons/keypad-blue.svg');
  }
  .router-link-active .flaticon-core {
    background-image: url('../../src/assets/icons/keypad.svg');
  }

  .flaticon-ui {
    background-image: url('../../src/assets/icons/browser-blue.svg');
  }
  .router-link-active .flaticon-ui {
    background-image: url('../../src/assets/icons/browser.svg');
  }

  .flaticon-forms {
    background-image: url('../../src/assets/icons/copy-blue.svg');
  }
  .router-link-active .flaticon-forms {
    background-image: url('../../src/assets/icons/copy.svg');
  }

  .flaticon-charts {
    background-image: url('../../src/assets/icons/pie-chart-blue.svg');
  }
  .router-link-active .flaticon-charts {
    background-image: url('../../src/assets/icons/pie-chart.svg');
  }

  .flaticon-grid {
    background-image: url('../../src/assets/icons/grid-blue.svg');
  }
  .router-link-active .flaticon-grid {
    background-image: url('../../src/assets/icons/grid.svg');
  }

  .flaticon-pin-1 {
    background-image: url('../../src/assets/icons/pin-blue.svg');
  }
  .router-link-active .flaticon-pin-1 {
    background-image: url('../../src/assets/icons/pin.svg');
  }

  .flaticon-extra {
    background-image: url('../../src/assets/icons/fire-blue.svg');
  }
  .router-link-active .flaticon-extra {
    background-image: url('../../src/assets/icons/fire.svg');
  }

  .flaticon-list-2 {
    background-image: url('../../src/assets/icons/list-blue.svg');
  }
  .router-link-active .flaticon-list-2 {
    background-image: url('../../src/assets/icons/list.svg');
  }
}

.sidebar-second {
  .flaticon-arrow-down {
    background-image: url('../../src/assets/icons/arrow-down.svg');
  }

  .flaticon-close {
    background-image: url('../../src/assets/icons/close.svg');
  }

  .router-link-active .flaticon-equal-1 {
    background-image: url('../../src/assets/icons/layout-white.svg');
  }
  .flaticon-equal-1 {
    background-image: url('../../src/assets/icons/layout.svg');
  }

  .router-link-active .flaticon-home {
    background-image: url('../../src/assets/icons/home-white.svg');
  }
  .flaticon-home {
    background-image: url('../../src/assets/icons/home.svg');
  }

  .flaticon-menu {
    background-image: url('../../src/assets/icons/menu.svg');
  }

  .flaticon-flip {
    background-image: url('../../src/assets/icons/flip.svg');
  }

  .flaticon-search-2 {
    background-image: url('../../src/assets/icons/search-2.svg');
  }

  .flaticon-settings-10 {
    background-image: url('../../src/assets/icons/settings-10.svg');
  }
  .flaticon-person {
    background-image: url('../../src/assets/icons/person.svg');
  }
  .router-link-active .flaticon-person {
    background-image: url('../../src/assets/icons/person-white.svg');
  }

  .flaticon-layers-2 {
    background-image: url('../../src/assets/icons/layers.svg');
  }
  .router-link-active .flaticon-layers-2 {
    background-image: url('../../src/assets/icons/layers-white.svg');
  }

  .flaticon-message-circle {
    background-image: url('../../src/assets/icons/message-circle.svg');
  }
  .router-link-active .flaticon-message-circle {
    background-image: url('../../src/assets/icons/message-circle-white.svg');
  }

  .flaticon-shopping-bag {
    background-image: url('../../src/assets/icons/shopping-bag.svg');
  }
  .router-link-active .flaticon-shopping-bag {
    background-image: url('../../src/assets/icons/shopping-bag-white.svg');
  }

  .flaticon-email {
    background-image: url('../../src/assets/icons/email.svg');
  }
  .router-link-active .flaticon-email {
    background-image: url('../../src/assets/icons/email-white.svg');
  }

  .flaticon-documentation {
    background-image: url('../../src/assets/icons/file-text.svg');
  }
  .router-link-active .flaticon-documentation {
    background-image: url('../../src/assets/icons/file-text-white.svg');
  }

  .flaticon-core {
    background-image: url('../../src/assets/icons/keypad.svg');
  }
  .router-link-active .flaticon-core {
    background-image: url('../../src/assets/icons/keypad-white.svg');
  }

  .flaticon-ui {
    background-image: url('../../src/assets/icons/browser.svg');
  }
  .router-link-active .flaticon-ui {
    background-image: url('../../src/assets/icons/browser-white.svg');
  }

  .flaticon-forms {
    background-image: url('../../src/assets/icons/copy.svg');
  }
  .router-link-active .flaticon-forms {
    background-image: url('../../src/assets/icons/copy-white.svg');
  }

  .flaticon-charts {
    background-image: url('../../src/assets/icons/pie-chart.svg');
  }
  .router-link-active .flaticon-charts {
    background-image: url('../../src/assets/icons/pie-chart-white.svg');
  }

  .flaticon-grid {
    background-image: url('../../src/assets/icons/grid.svg');
  }
  .router-link-active .flaticon-grid {
    background-image: url('../../src/assets/icons/grid-white.svg');
  }

  .flaticon-pin-1 {
    background-image: url('../../src/assets/icons/pin.svg');
  }
  .router-link-active .flaticon-pin-1 {
    background-image: url('../../src/assets/icons/pin-white.svg');
  }

  .flaticon-extra {
    background-image: url('../../src/assets/icons/fire.svg');
  }
  .router-link-active .flaticon-extra {
    background-image: url('../../src/assets/icons/fire-white.svg');
  }

  .flaticon-list-2 {
    background-image: url('../../src/assets/icons/list.svg');
  }
  .router-link-active .flaticon-list-2 {
    background-image: url('../../src/assets/icons/list-white.svg');
  }
}

.sidebar-third {
  .flaticon-arrow-down {
    background-image: url('../../src/assets/icons/arrow-down.svg');
  }

  .flaticon-close {
    background-image: url('../../src/assets/icons/close.svg');
  }

  .router-link-active .flaticon-equal-1 {
    background-image: url('../../src/assets/icons/layout-third.svg');
  }
  .flaticon-equal-1 {
    background-image: url('../../src/assets/icons/layout.svg');
  }

  .router-link-active .flaticon-home {
    background-image: url('../assets/icons/home-third.svg');
  }
  .flaticon-home {
    background-image: url('../../src/assets/icons/home.svg');
  }

  .flaticon-menu {
    background-image: url('../../src/assets/icons/menu.svg');
  }

  .flaticon-flip {
    background-image: url('../../src/assets/icons/flip.svg');
  }

  .flaticon-search-2 {
    background-image: url('../../src/assets/icons/search-2.svg');
  }

  .flaticon-settings-10 {
    background-image: url('../../src/assets/icons/settings-10.svg');
  }
  .flaticon-person {
    background-image: url('../../src/assets/icons/person.svg');
  }
  .router-link-active .flaticon-person {
    background-image: url('../../src/assets/icons/person-third.svg');
  }

  .flaticon-layers-2 {
    background-image: url('../../src/assets/icons/layers.svg');
  }
  .router-link-active .flaticon-layers-2 {
    background-image: url('../../src/assets/icons/layers-third.svg');
  }

  .flaticon-message-circle {
    background-image: url('../../src/assets/icons/message-circle.svg');
  }
  .router-link-active .flaticon-message-circle {
    background-image: url('../../src/assets/icons/message-circle-third.svg');
  }

  .flaticon-shopping-bag {
    background-image: url('../../src/assets/icons/shopping-bag.svg');
  }
  .router-link-active .flaticon-shopping-bag {
    background-image: url('../../src/assets/icons/shopping-bag-third.svg');
  }

  .flaticon-email {
    background-image: url('../../src/assets/icons/email.svg');
  }
  .router-link-active .flaticon-email {
    background-image: url('../../src/assets/icons/email-third.svg');
  }

  .flaticon-documentation {
    background-image: url('../../src/assets/icons/file-text.svg');
  }
  .router-link-active .flaticon-documentation {
    background-image: url('../../src/assets/icons/file-text-white.svg');
  }

  .flaticon-core {
    background-image: url('../../src/assets/icons/keypad.svg');
  }
  .router-link-active .flaticon-core {
    background-image: url('../../src/assets/icons/keypad-third.svg');
  }

  .flaticon-ui {
    background-image: url('../../src/assets/icons/browser.svg');
  }
  .router-link-active .flaticon-ui {
    background-image: url('../../src/assets/icons/browser-third.svg');
  }

  .flaticon-forms {
    background-image: url('../../src/assets/icons/copy.svg');
  }
  .router-link-active .flaticon-forms {
    background-image: url('../../src/assets/icons/copy-third.svg');
  }

  .flaticon-charts {
    background-image: url('../../src/assets/icons/pie-chart.svg');
  }
  .router-link-active .flaticon-charts {
    background-image: url('../../src/assets/icons/pie-chart-third.svg');
  }

  .flaticon-grid {
    background-image: url('../../src/assets/icons/grid.svg');
  }
  .router-link-active .flaticon-grid {
    background-image: url('../../src/assets/icons/grid-third.svg');
  }

  .flaticon-pin-1 {
    background-image: url('../../src/assets/icons/pin.svg');
  }
  .router-link-active .flaticon-pin-1 {
    background-image: url('../../src/assets/icons/pin-third.svg');
  }

  .flaticon-extra {
    background-image: url('../../src/assets/icons/fire.svg');
  }
  .router-link-active .flaticon-extra {
    background-image: url('../../src/assets/icons/fire-third.svg');
  }

  .flaticon-list-2 {
    background-image: url('../../src/assets/icons/list.svg');
  }
  .router-link-active .flaticon-list-2 {
    background-image: url('../../src/assets/icons/list-third.svg');
  }
}

.sidebar-fourth {
  .flaticon-arrow-down {
    background-image: url('../../src/assets/icons/arrow-down.svg');
  }

  .flaticon-close {
    background-image: url('../../src/assets/icons/close.svg');
  }

  .router-link-active .flaticon-equal-1 {
    background-image: url('../../src/assets/icons/layout-third.svg');
  }
  .flaticon-equal-1 {
    background-image: url('../../src/assets/icons/layout.svg');
  }

  .router-link-active .flaticon-home {
    background-image: url('../assets/icons/home-third.svg');
  }
  .flaticon-home {
    background-image: url('../../src/assets/icons/home.svg');
  }

  .flaticon-menu {
    background-image: url('../../src/assets/icons/menu.svg');
  }

  .flaticon-flip {
    background-image: url('../../src/assets/icons/flip.svg');
  }

  .flaticon-search-2 {
    background-image: url('../../src/assets/icons/search-2.svg');
  }

  .flaticon-settings-10 {
    background-image: url('../../src/assets/icons/settings-10.svg');
  }
  .flaticon-person {
    background-image: url('../../src/assets/icons/person.svg');
  }
  .router-link-active .flaticon-person {
    background-image: url('../../src/assets/icons/person-third.svg');
  }

  .flaticon-layers-2 {
    background-image: url('../../src/assets/icons/layers.svg');
  }
  .router-link-active .flaticon-layers-2 {
    background-image: url('../../src/assets/icons/layers-third.svg');
  }

  .flaticon-message-circle {
    background-image: url('../../src/assets/icons/message-circle.svg');
  }
  .router-link-active .flaticon-message-circle {
    background-image: url('../../src/assets/icons/message-circle-third.svg');
  }

  .flaticon-shopping-bag {
    background-image: url('../../src/assets/icons/shopping-bag.svg');
  }
  .router-link-active .flaticon-shopping-bag {
    background-image: url('../../src/assets/icons/shopping-bag-third.svg');
  }

  .flaticon-email {
    background-image: url('../../src/assets/icons/email.svg');
  }
  .router-link-active .flaticon-email {
    background-image: url('../../src/assets/icons/email-third.svg');
  }

  .flaticon-documentation {
    background-image: url('../../src/assets/icons/file-text.svg');
  }
  .router-link-active .flaticon-documentation {
    background-image: url('../../src/assets/icons/file-text-white.svg');
  }

  .flaticon-core {
    background-image: url('../../src/assets/icons/keypad.svg');
  }
  .router-link-active .flaticon-core {
    background-image: url('../../src/assets/icons/keypad-third.svg');
  }

  .flaticon-ui {
    background-image: url('../../src/assets/icons/browser.svg');
  }
  .router-link-active .flaticon-ui {
    background-image: url('../../src/assets/icons/browser-third.svg');
  }

  .flaticon-forms {
    background-image: url('../../src/assets/icons/copy.svg');
  }
  .router-link-active .flaticon-forms {
    background-image: url('../../src/assets/icons/copy-third.svg');
  }

  .flaticon-charts {
    background-image: url('../../src/assets/icons/pie-chart.svg');
  }
  .router-link-active .flaticon-charts {
    background-image: url('../../src/assets/icons/pie-chart-third.svg');
  }

  .flaticon-grid {
    background-image: url('../../src/assets/icons/grid.svg');
  }
  .router-link-active .flaticon-grid {
    background-image: url('../../src/assets/icons/grid-third.svg');
  }

  .flaticon-pin-1 {
    background-image: url('../../src/assets/icons/pin.svg');
  }
  .router-link-active .flaticon-pin-1 {
    background-image: url('../../src/assets/icons/pin-third.svg');
  }

  .flaticon-extra {
    background-image: url('../../src/assets/icons/fire.svg');
  }
  .router-link-active .flaticon-extra {
    background-image: url('../../src/assets/icons/fire-third.svg');
  }

  .flaticon-list-2 {
    background-image: url('../../src/assets/icons/list.svg');
  }
  .router-link-active .flaticon-list-2 {
    background-image: url('../../src/assets/icons/list-third.svg');
  }
}

.sidebar-fifth {
  .flaticon-arrow-down {
    background-image: url('../../src/assets/icons/arrow-down.svg');
  }

  .flaticon-close {
    background-image: url('../../src/assets/icons/close.svg');
  }

  .router-link-active .flaticon-equal-1 {
    background-image: url('../../src/assets/icons/layout-third.svg');
  }
  .flaticon-equal-1 {
    background-image: url('../../src/assets/icons/layout.svg');
  }

  .router-link-active .flaticon-home {
    background-image: url('../assets/icons/home-third.svg');
  }
  .flaticon-home {
    background-image: url('../../src/assets/icons/home.svg');
  }

  .flaticon-menu {
    background-image: url('../../src/assets/icons/menu.svg');
  }

  .flaticon-flip {
    background-image: url('../../src/assets/icons/flip.svg');
  }

  .flaticon-search-2 {
    background-image: url('../../src/assets/icons/search-2.svg');
  }

  .flaticon-settings-10 {
    background-image: url('../../src/assets/icons/settings-10.svg');
  }
  .flaticon-person {
    background-image: url('../../src/assets/icons/person.svg');
  }
  .router-link-active .flaticon-person {
    background-image: url('../../src/assets/icons/person-third.svg');
  }

  .flaticon-layers-2 {
    background-image: url('../../src/assets/icons/layers.svg');
  }
  .router-link-active .flaticon-layers-2 {
    background-image: url('../../src/assets/icons/layers-third.svg');
  }

  .flaticon-message-circle {
    background-image: url('../../src/assets/icons/message-circle.svg');
  }
  .router-link-active .flaticon-message-circle {
    background-image: url('../../src/assets/icons/message-circle-third.svg');
  }

  .flaticon-shopping-bag {
    background-image: url('../../src/assets/icons/shopping-bag.svg');
  }
  .router-link-active .flaticon-shopping-bag {
    background-image: url('../../src/assets/icons/shopping-bag-third.svg');
  }

  .flaticon-email {
    background-image: url('../../src/assets/icons/email.svg');
  }
  .router-link-active .flaticon-email {
    background-image: url('../../src/assets/icons/email-third.svg');
  }

  .flaticon-documentation {
    background-image: url('../../src/assets/icons/file-text.svg');
  }
  .router-link-active .flaticon-documentation {
    background-image: url('../../src/assets/icons/file-text-white.svg');
  }

  .flaticon-core {
    background-image: url('../../src/assets/icons/keypad.svg');
  }
  .router-link-active .flaticon-core {
    background-image: url('../../src/assets/icons/keypad-third.svg');
  }

  .flaticon-ui {
    background-image: url('../../src/assets/icons/browser.svg');
  }
  .router-link-active .flaticon-ui {
    background-image: url('../../src/assets/icons/browser-third.svg');
  }

  .flaticon-forms {
    background-image: url('../../src/assets/icons/copy.svg');
  }
  .router-link-active .flaticon-forms {
    background-image: url('../../src/assets/icons/copy-third.svg');
  }

  .flaticon-charts {
    background-image: url('../../src/assets/icons/pie-chart.svg');
  }
  .router-link-active .flaticon-charts {
    background-image: url('../../src/assets/icons/pie-chart-third.svg');
  }

  .flaticon-grid {
    background-image: url('../../src/assets/icons/grid.svg');
  }
  .router-link-active .flaticon-grid {
    background-image: url('../../src/assets/icons/grid-third.svg');
  }

  .flaticon-pin-1 {
    background-image: url('../../src/assets/icons/pin.svg');
  }
  .router-link-active .flaticon-pin-1 {
    background-image: url('../../src/assets/icons/pin-third.svg');
  }

  .flaticon-extra {
    background-image: url('../../src/assets/icons/fire.svg');
  }
  .router-link-active .flaticon-extra {
    background-image: url('../../src/assets/icons/fire-third.svg');
  }

  .flaticon-list-2 {
    background-image: url('../../src/assets/icons/list.svg');
  }
  .router-link-active .flaticon-list-2 {
    background-image: url('../../src/assets/icons/list-third.svg');
  }
}

.sidebar-sixth {
  .flaticon-arrow-down {
    background-image: url('../../src/assets/icons/arrow-down.svg');
  }

  .flaticon-close {
    background-image: url('../../src/assets/icons/close.svg');
  }

  .router-link-active .flaticon-equal-1 {
    background-image: url('../../src/assets/icons/layout.svg');
  }
  .flaticon-equal-1 {
    background-image: url('../../src/assets/icons/layout-blue.svg');
  }

  .router-link-active .flaticon-bell {
    background-image: url('../../src/assets/icons/bell.svg');
  }
  .flaticon-bell {
    background-image: url('../../src/assets/icons/bell-blue.svg');
  }

  .router-link-active .flaticon-home {
    background-image: url('../../src/assets/icons/home.svg');
  }
  .flaticon-home {
    background-image: url('../../src/assets/icons/home-blue.svg');
  }

  .flaticon-menu {
    background-image: url('../../src/assets/icons/menu.svg');
  }

  .flaticon-flip {
    background-image: url('../../src/assets/icons/flip.svg');
  }

  .router-link-active .flaticon-list {
    background-image: url('../../src/assets/icons/text.svg');
  }
  .flaticon-list {
    background-image: url('../../src/assets/icons/text-blue.svg');
  }

  .router-link-active .flaticon-network {
    background-image: url('../../src/assets/icons/cube.svg');
  }
  .flaticon-network {
    background-image: url('../../src/assets/icons/cube-blue.svg');
  }

  .flaticon-search-2 {
    background-image: url('../../src/assets/icons/search-2.svg');
  }

  .flaticon-settings-10 {
    background-image: url('../../src/assets/icons/settings-10.svg');
  }
  .flaticon-person {
    background-image: url('../../src/assets/icons/person-blue.svg');
  }
  .router-link-active .flaticon-person {
    background-image: url('../../src/assets/icons/person.svg');
  }

  .flaticon-layers-2 {
    background-image: url('../../src/assets/icons/layers-blue.svg');
  }
  .router-link-active .flaticon-layers-2 {
    background-image: url('../../src/assets/icons/layers.svg');
  }

  .flaticon-message-circle {
    background-image: url('../../src/assets/icons/message-circle-blue.svg');
  }
  .router-link-active .flaticon-message-circle {
    background-image: url('../../src/assets/icons/message-circle.svg');
  }

  .flaticon-shopping-bag {
    background-image: url('../../src/assets/icons/shopping-bag-blue.svg');
  }
  .router-link-active .flaticon-shopping-bag {
    background-image: url('../../src/assets/icons/shopping-bag.svg');
  }

  .flaticon-email {
    background-image: url('../../src/assets/icons/email-blue.svg');
  }
  .router-link-active .flaticon-email {
    background-image: url('../../src/assets/icons/email.svg');
  }

  .flaticon-documentation {
    background-image: url('../../src/assets/icons/file-text-blue.svg');
  }
  .router-link-active .flaticon-documentation {
    background-image: url('../../src/assets/icons/file-text.svg');
  }

  .flaticon-core {
    background-image: url('../../src/assets/icons/keypad-blue.svg');
  }
  .router-link-active .flaticon-core {
    background-image: url('../../src/assets/icons/keypad.svg');
  }

  .flaticon-ui {
    background-image: url('../../src/assets/icons/browser-blue.svg');
  }
  .router-link-active .flaticon-ui {
    background-image: url('../../src/assets/icons/browser.svg');
  }

  .flaticon-forms {
    background-image: url('../../src/assets/icons/copy-blue.svg');
  }
  .router-link-active .flaticon-forms {
    background-image: url('../../src/assets/icons/copy.svg');
  }

  .flaticon-charts {
    background-image: url('../../src/assets/icons/pie-chart-blue.svg');
  }
  .router-link-active .flaticon-charts {
    background-image: url('../../src/assets/icons/pie-chart.svg');
  }

  .flaticon-grid {
    background-image: url('../../src/assets/icons/grid-blue.svg');
  }
  .router-link-active .flaticon-grid {
    background-image: url('../../src/assets/icons/grid.svg');
  }

  .flaticon-pin-1 {
    background-image: url('../../src/assets/icons/pin-blue.svg');
  }
  .router-link-active .flaticon-pin-1 {
    background-image: url('../../src/assets/icons/pin.svg');
  }

  .flaticon-extra {
    background-image: url('../../src/assets/icons/fire-blue.svg');
  }
  .router-link-active .flaticon-extra {
    background-image: url('../../src/assets/icons/fire.svg');
  }

  .flaticon-list-2 {
    background-image: url('../../src/assets/icons/list-blue.svg');
  }
  .router-link-active .flaticon-list-2 {
    background-image: url('../../src/assets/icons/list.svg');
  }
}

.sidebar-seventh {
  .headerLabel.text-success {
    color: #8BFFE3!important;
  }
  .headerLabel.text-info {
    color: #FFC0A5!important;
  }

  .flaticon-arrow-down {
    background-image: url('../../src/assets/icons/arrow-down.svg');
  }

  .flaticon-close {
    background-image: url('../../src/assets/icons/close.svg');
  }

  .router-link-active .flaticon-equal-1 {
    background-image: url('../../src/assets/icons/layout-seven.svg');
  }
  .flaticon-equal-1 {
    background-image: url('../../src/assets/icons/layout.svg');
  }

  .router-link-active .flaticon-home {
    background-image: url('../../src/assets/icons/home-seven.svg');
  }
  .flaticon-home {
    background-image: url('../../src/assets/icons/home.svg');
  }

  .flaticon-menu {
    background-image: url('../../src/assets/icons/menu.svg');
  }

  .flaticon-flip {
    background-image: url('../../src/assets/icons/flip.svg');
  }

  .flaticon-search-2 {
    background-image: url('../../src/assets/icons/search-2.svg');
  }

  .flaticon-settings-10 {
    background-image: url('../../src/assets/icons/settings-10.svg');
  }
  .flaticon-person {
    background-image: url('../../src/assets/icons/person.svg');
  }
  .router-link-active .flaticon-person {
    background-image: url('../../src/assets/icons/person-seven.svg');
  }

  .flaticon-layers-2 {
    background-image: url('../../src/assets/icons/layers.svg');
  }
  .router-link-active .flaticon-layers-2 {
    background-image: url('../../src/assets/icons/layers-seven.svg');
  }

  .flaticon-message-circle {
    background-image: url('../../src/assets/icons/message-circle.svg');
  }
  .router-link-active .flaticon-message-circle {
    background-image: url('../../src/assets/icons/message-circle-seven.svg');
  }

  .flaticon-shopping-bag {
    background-image: url('../../src/assets/icons/shopping-bag.svg');
  }
  .router-link-active .flaticon-shopping-bag {
    background-image: url('../../src/assets/icons/shopping-bag-seven.svg');
  }

  .flaticon-email {
    background-image: url('../../src/assets/icons/email.svg');
  }
  .router-link-active .flaticon-email {
    background-image: url('../../src/assets/icons/email-seven.svg');
  }

  .flaticon-documentation {
    background-image: url('../../src/assets/icons/file-text.svg');
  }
  .router-link-active .flaticon-documentation {
    background-image: url('../../src/assets/icons/file-text-white.svg');
  }

  .flaticon-core {
    background-image: url('../../src/assets/icons/keypad.svg');
  }
  .router-link-active .flaticon-core {
    background-image: url('../../src/assets/icons/keypad-seven.svg');
  }

  .flaticon-ui {
    background-image: url('../../src/assets/icons/browser.svg');
  }
  .router-link-active .flaticon-ui {
    background-image: url('../../src/assets/icons/browser-seven.svg');
  }

  .flaticon-forms {
    background-image: url('../../src/assets/icons/copy.svg');
  }
  .router-link-active .flaticon-forms {
    background-image: url('../../src/assets/icons/copy-seven.svg');
  }

  .flaticon-charts {
    background-image: url('../../src/assets/icons/pie-chart.svg');
  }
  .router-link-active .flaticon-charts {
    background-image: url('../../src/assets/icons/pie-chart-seven.svg');
  }

  .flaticon-grid {
    background-image: url('../../src/assets/icons/grid.svg');
  }
  .router-link-active .flaticon-grid {
    background-image: url('../../src/assets/icons/grid-seven.svg');
  }

  .flaticon-pin-1 {
    background-image: url('../../src/assets/icons/pin.svg');
  }
  .router-link-active .flaticon-pin-1 {
    background-image: url('../../src/assets/icons/pin-seven.svg');
  }

  .flaticon-extra {
    background-image: url('../../src/assets/icons/fire.svg');
  }
  .router-link-active .flaticon-extra {
    background-image: url('../../src/assets/icons/fire-seven.svg');
  }

  .flaticon-list-2 {
    background-image: url('../../src/assets/icons/list.svg');
  }
  .router-link-active .flaticon-list-2 {
    background-image: url('../../src/assets/icons/list-white.svg');
  }
}

.sidebar-white {
  .flaticon-arrow-down {
    background-image: url('../../src/assets/icons/arrow-down.svg');
  }

  .flaticon-close {
    background-image: url('../../src/assets/icons/close.svg');
  }

  .router-link-active .flaticon-equal-1 {
    background-image: url('../../src/assets/icons/layout-white.svg');
  }
  .flaticon-equal-1 {
    background-image: url('../../src/assets/icons/layout-grey.svg');
  }

  .router-link-active .flaticon-home {
    background-image: url('../../src/assets/icons/home-white.svg');
  }
  .flaticon-home {
    background-image: url('../../src/assets/icons/home-grey.svg');
  }

  .flaticon-menu {
    background-image: url('../../src/assets/icons/menu.svg');
  }

  .flaticon-flip {
    background-image: url('../../src/assets/icons/flip.svg');
  }

  .flaticon-search-2 {
    background-image: url('../../src/assets/icons/search-2.svg');
  }

  .flaticon-settings-10 {
    background-image: url('../../src/assets/icons/settings-10.svg');
  }
  .flaticon-person {
    background-image: url('../../src/assets/icons/person-grey.svg');
  }
  .router-link-active .flaticon-person {
    background-image: url('../../src/assets/icons/person-white.svg');
  }

  .flaticon-layers-2 {
    background-image: url('../../src/assets/icons/layers-grey.svg');
  }
  .router-link-active .flaticon-layers-2 {
    background-image: url('../../src/assets/icons/layers-white.svg');
  }

  .flaticon-message-circle {
    background-image: url('../../src/assets/icons/message-circle-grey.svg');
  }
  .router-link-active .flaticon-message-circle {
    background-image: url('../../src/assets/icons/message-circle-white.svg');
  }

  .flaticon-shopping-bag {
    background-image: url('../../src/assets/icons/shopping-bag-grey.svg');
  }
  .router-link-active .flaticon-shopping-bag {
    background-image: url('../../src/assets/icons/shopping-bag-white.svg');
  }

  .flaticon-email {
    background-image: url('../../src/assets/icons/email-grey.svg');
  }
  .router-link-active .flaticon-email {
    background-image: url('../../src/assets/icons/email-white.svg');
  }

  .flaticon-documentation {
    background-image: url('../../src/assets/icons/file-text-grey.svg');
  }
  .router-link-active .flaticon-documentation {
    background-image: url('../../src/assets/icons/file-text-white.svg');
  }

  .flaticon-core {
    background-image: url('../../src/assets/icons/keypad-grey.svg');
  }
  .router-link-active .flaticon-core {
    background-image: url('../../src/assets/icons/keypad-white.svg');
  }

  .flaticon-ui {
    background-image: url('../../src/assets/icons/browser-grey.svg');
  }
  .router-link-active .flaticon-ui {
    background-image: url('../../src/assets/icons/browser-white.svg');
  }

  .flaticon-forms {
    background-image: url('../../src/assets/icons/copy-grey.svg');
  }
  .router-link-active .flaticon-forms {
    background-image: url('../../src/assets/icons/copy-white.svg');
  }

  .flaticon-charts {
    background-image: url('../../src/assets/icons/pie-chart-grey.svg');
  }
  .router-link-active .flaticon-charts {
    background-image: url('../../src/assets/icons/pie-chart-white.svg');
  }

  .flaticon-grid {
    background-image: url('../../src/assets/icons/grid-grey.svg');
  }
  .router-link-active .flaticon-grid {
    background-image: url('../../src/assets/icons/grid-white.svg');
  }

  .flaticon-pin-1 {
    background-image: url('../../src/assets/icons/pin-grey.svg');
  }
  .router-link-active .flaticon-pin-1 {
    background-image: url('../../src/assets/icons/pin-white.svg');
  }

  .flaticon-extra {
    background-image: url('../../src/assets/icons/fire-grey.svg');
  }
  .router-link-active .flaticon-extra {
    background-image: url('../../src/assets/icons/fire-white.svg');
  }

  .flaticon-list-2 {
    background-image: url('../../src/assets/icons/list-grey.svg');
  }
  .router-link-active .flaticon-list-2 {
    background-image: url('../../src/assets/icons/list-white.svg');
  }
}

.navbar-default {
  .flaticon-arrow-down {
    background-image: url('../../src/assets/icons/arrow-down-blue.svg');
  }

  .flaticon-close {
    background-image: url('../../src/assets/icons/close-blue.svg');
  }
  .flaticon-menu {
    background-image: url('../../src/assets/icons/menu-blue.svg');
  }
  .flaticon-flip {
    background-image: url('../../src/assets/icons/flip-blue.svg');
  }

  .flaticon-search-2 {
    background-image: url('../../src/assets/icons/search-2-blue.svg');
  }

  .search-input {
    .input-group-prepend .input-group-text {
      background-color:#14395C!important;
    }
    #search-input {
      background-color:#14395C!important;
      &::placeholder {
        color: white;
      }
    }
  }

  .flaticon-settings-10 {
    background-image: url('../../src/assets/icons/settings-10-blue.svg');
  }
  .avatar-badge {
    background-color: #5CB0FF!important;
  }

}

.navbar-first {
  .flaticon-arrow-down {
    background-image: url('../../src/assets/icons/arrow-down-blue.svg');
  }

  .flaticon-close {
    background-image: url('../../src/assets/icons/close-blue.svg');
  }
  .flaticon-menu {
    background-image: url('../../src/assets/icons/menu-blue.svg');
  }
  .flaticon-flip {
    background-image: url('../../src/assets/icons/flip-blue.svg');
  }

  .flaticon-search-2 {
    background-image: url('../../src/assets/icons/search-2-blue.svg');
  }

  .search-input {
    .input-group-prepend .input-group-text {
      background-color:#14395C!important;
    }
    #search-input {
      background-color:#14395C!important;
      &::placeholder {
        color: white;
      }
    }
  }

  .flaticon-settings-10 {
    background-image: url('../../src/assets/icons/settings-10-blue.svg');
  }
  .avatar-badge {
    background-color: #5CB0FF!important;
  }

}

.navbar-second {
  .flaticon-arrow-down {
    background-image: url('../assets/icons/arrow-down-second.svg');
  }

  .flaticon-close {
    background-image: url('../assets/icons/close-second.svg');
  }
  .flaticon-menu {
    background-image: url('../../src/assets/icons/menu-second.svg');
  }
  .flaticon-flip {
    background-image: url('../../src/assets/icons/flip-second.svg');
  }

  .flaticon-search-2 {
    background-image: url('../../src/assets/icons/search-2-second.svg');
  }

  .search-input {
    .input-group-prepend .input-group-text {
      background-color: #DCDEE3!important;
    }
    #search-input {
      background-color: #DCDEE3!important;
      &::placeholder {
        color: #14191D;
      }
    }
  }

  .flaticon-settings-10 {
    background-image: url('../../src/assets/icons/settings-10-second.svg');
  }
  .avatar-badge {
    background-color: #0D2B47!important;
  }

}

.navbar-third {
  .flaticon-arrow-down {
    background-image: url('../assets/icons/arrow-down-second.svg');
  }

  .flaticon-close {
    background-image: url('../assets/icons/close-second.svg');
  }
  .flaticon-menu {
    background-image: url('../../src/assets/icons/menu-second.svg');
  }
  .flaticon-flip {
    background-image: url('../../src/assets/icons/flip-second.svg');
  }

  .flaticon-search-2 {
    background-image: url('../../src/assets/icons/search-2-second.svg');
  }

  .search-input {
    .input-group-prepend .input-group-text {
      background-color: #C4DCF0!important;
    }
    #search-input {
      background-color: #C4DCF0!important;
      &::placeholder {
        color: #14191D;
      }
    }
  }

  .flaticon-settings-10 {
    background-image: url('../../src/assets/icons/settings-10-second.svg');
  }
  .avatar-badge {
    background-color: #0D2B47!important;
  }

}

.navbar-fourth {
  .flaticon-arrow-down {
    background-image: url('../assets/icons/arrow-down-second.svg');
  }

  .flaticon-close {
    background-image: url('../assets/icons/close-second.svg');
  }
  .flaticon-menu {
    background-image: url('../../src/assets/icons/menu-second.svg');
  }
  .flaticon-flip {
    background-image: url('../../src/assets/icons/flip-second.svg');
  }

  .flaticon-search-2 {
    background-image: url('../../src/assets/icons/search-2-second.svg');
  }

  .search-input {
    .input-group-prepend .input-group-text {
      background-color: #BECDDA!important;
    }
    #search-input {
      background-color: #BECDDA!important;
      &::placeholder {
        color: #14191D;
      }
    }
  }

  .flaticon-settings-10 {
    background-image: url('../../src/assets/icons/settings-10-second.svg');
  }
  .avatar-badge {
    background-color: #0D2B47!important;
  }

}

.navbar-fifth {
  .flaticon-arrow-down {
    background-image: url('../assets/icons/arrow-down-second.svg');
  }

  .flaticon-close {
    background-image: url('../assets/icons/close-second.svg');
  }
  .flaticon-menu {
    background-image: url('../../src/assets/icons/menu-second.svg');
  }
  .flaticon-flip {
    background-image: url('../../src/assets/icons/flip-second.svg');
  }

  .flaticon-search-2 {
    background-image: url('../../src/assets/icons/search-2-second.svg');
  }

  .search-input {
    .input-group-prepend .input-group-text {
      background-color: #BECDDA!important;
    }
    #search-input {
      background-color: #BECDDA!important;
      &::placeholder {
        color: #14191D;
      }
    }
  }

  .flaticon-settings-10 {
    background-image: url('../../src/assets/icons/settings-10-second.svg');
  }
  .avatar-badge {
    background-color: #0D2B47!important;
  }

}

.navbar-sixth {
  .flaticon-arrow-down {
    background-image: url('../../src/assets/icons/arrow-down-blue.svg');
  }

  .flaticon-close {
    background-image: url('../../src/assets/icons/close-blue.svg');
  }
  .flaticon-menu {
    background-image: url('../../src/assets/icons/menu-blue.svg');
  }
  .flaticon-flip {
    background-image: url('../../src/assets/icons/flip-blue.svg');
  }

  .flaticon-search-2 {
    background-image: url('../../src/assets/icons/search-2-blue.svg');
  }

  .search-input {
    .input-group-prepend .input-group-text {
      background-color: #090D0F!important;
    }
    #search-input {
      background-color: #090D0F!important;
      &::placeholder {
        color: white;
      }
    }
  }

  .flaticon-settings-10 {
    background-image: url('../../src/assets/icons/settings-10-blue.svg');
  }
  .avatar-badge {
    background-color: #5CB0FF!important;
  }

}

.navbar-seventh {
  .flaticon-arrow-down {
    background-image: url('../assets/icons/arrow-down-second.svg');
  }

  .flaticon-close {
    background-image: url('../assets/icons/close-second.svg');
  }
  .flaticon-menu {
    background-image: url('../../src/assets/icons/menu-second.svg');
  }
  .flaticon-flip {
    background-image: url('../../src/assets/icons/flip-second.svg');
  }

  .flaticon-search-2 {
    background-image: url('../../src/assets/icons/search-2-second.svg');
  }

  .search-input {
    .input-group-prepend .input-group-text {
      background-color: #439277!important;
    }
    #search-input {
      background-color: #439277!important;
      &::placeholder {
        color: white;
      }
    }
  }
  .flaticon-settings-10 {
    background-image: url('../../src/assets/icons/settings-10-second.svg');
  }
  .avatar-badge {
    background-color: #0D2B47!important;
  }
}

.flaticon-calendar-9 { background-image: url('../../src/assets/icons/calendar.svg'); }
.flaticon-power-1 { background-image: url('../../src/assets/icons/power.svg'); }
