.root {
  &.sing-dashboard {
    --logo-color: white;
    --body-bg: #f9fbfd;
    --light-color: #F6F6E9;

    --sidebar-bg-color: #002B49;
    --sidebar-color: #C2C2C2;
    --sidebar-action-bg: #042338;
    --sidebar-item-active: #fff; //var(--light-color)
    --sidebar-badge-bg: #005792;

    --sidebar-nav-title-color: var(--light-color);

    --widget-shadow-color: 75, 102, 171;

    --navbar-bg: #fff;
    --navbar-shadow: 0 15px 20px -20px rgba(var(--widget-shadow-color), 0.1), 0 0 15px rgba(var(--widget-shadow-color), 0.06);


    // dependable variables
    --sidebar-progress-bg-color: var(--sidebar-action-bg);
    --sidebar-icon-active: var(--sidebar-bg-color);
    --sidebar-item-hover-bg-color: var(--sidebar-action-bg);
    --widget-shadow: 4px 4px 30px rgba(var(--widget-shadow-color), 0.2);

    &.sidebar-white {
      --sidebar-bg-color: #ffffff;
      --sidebar-color: #6c757d;
      --sidebar-action-bg: #f9fafe;
      --logo-color: var(--sidebar-color);
      --sidebar-item-active: var(--sidebar-color);
      --sidebar-nav-title-color: var(--sidebar-color);
    }


    &.sidebar-first {
      --sidebar-bg-color: #004472;
      --sidebar-action-bg: #00395f;
    }

    &.sidebar-second {
      --sidebar-bg-color: #e9ebef;
      --sidebar-action-bg: #dbdee4;
    }

    &.sidebar-third {
     --sidebar-bg-color: #d1e7f5;
      --sidebar-action-bg: #bedcf2;
    }

    &.sidebar-fourth {
      --sidebar-bg-color: #ccdde9;
      --sidebar-action-bg: #bacedc;
    }

    &.sidebar-fifth {
      --sidebar-bg-color: #d6dfe6;
      --sidebar-action-bg: #bdc9d4;
    }

    &.sidebar-sixth {
       --sidebar-bg-color: #13191d;
      --sidebar-color: #f6f6e9;
      --sidebar-action-bg: #080c0f;
    }

    &.sidebar-seventh {
      --sidebar-bg-color: #20ae8c;
      --sidebar-color: #f6f6e9;
      --sidebar-action-bg: #119375;
      --sidebar-badge-bg: #00395f;
    }

    &.sidebar-second,
    &.sidebar-third,
    &.sidebar-fourth,
    &.sidebar-fifth,
    &.sidebar-transparent {
      --sidebar-color: #004472;
      --sidebar-item-active: var(--sidebar-color);
      --sidebar-nav-title-color: var(--sidebar-color);
    }

    &.sidebar-first,
    &.sidebar-sixth,
    &.sidebar-seventh {
      --sidebar-color: #f6f6e9;
    }

    &.sidebar-transparent {
      --sidebar-bg-color: transparent;
      --sidebar-action-bg: transparent;
      --logo-color: var(--sidebar-color);
      --sidebar-icon-active: white;
    }
  }


}
