.root {
  &.sing-dashboard {
    --logo-color: #6C757D;
    --body-bg: #f9fbfd;
    --light-color: #F6F6E9;

    --sidebar-bg-color: #ffffff;
    --sidebar-color: #6c757d;
    --sidebar-action-bg: #f9fafe;
    --sidebar-item-active: #6C757D; //var(--light-color)
    --sidebar-item-active-bg: #5CB0FF;
    --sidebar-badge-bg: #1A86D0;

    --sidebar-nav-title-color: #5287B999;

    --widget-shadow-color: 75, 102, 171;

    --navbar-bg: #fff;
    --navbar-shadow: 0 15px 20px -20px rgba(var(--widget-shadow-color), 0.1), 0 0 15px rgba(var(--widget-shadow-color), 0.06);


    // dependable variables
    --sidebar-progress-bg-color: var(--sidebar-action-bg);
    --sidebar-icon-active: var(--sidebar-bg-color);
    --sidebar-item-hover-bg-color: var(--sidebar-action-bg);
    --widget-shadow: 4px 4px 30px rgba(var(--widget-shadow-color), 0.2);

    &.sidebar-white,
    &.sidebar-transparent {
      --sidebar-bg-color: #ffffff;
      --sidebar-color: #6c757d;
      --sidebar-action-bg: #f9fafe;
      --logo-color: #0D2B47;
      --sidebar-item-active: #14191D;
      --sidebar-item-active-bg: #4A5056;
      --sidebar-nav-title-color: #5287B9;
    }

    &.sidebar-first {
      --sidebar-icon-bg: #5CB0FF;
      --sidebar-bg-color: #3D3D3D;
      --logo-color: #C1C3CF;
      --sidebar-item-active: #F6F6E9;
      --sidebar-action-bg: #2D2D2D;
      --sidebar-color: #F6F6E9;
      --sidebar-nav-title-color: #F6F6E9;
    }

    &.sidebar-second {
      --logo-color: #C1C3CF;
      --sidebar-color: #fff;
      --sidebar-bg-color: #4B505F;
      --sidebar-action-bg: #373C4D;
      --sidebar-item-active-bg: #dedede;
      --sidebar-item-active: #F6F6E9;
    }

    &.sidebar-third {
      --sidebar-icon-bg: #fff;
      --logo-color: #0C2236;
      --sidebar-item-active: #F6F6E9;
      --important-notification-color: #fd5f00;
      --sidebar-bg-color: #483CB6;
      --sidebar-color: #F6F6E9 !important;
      --sidebar-action-bg: #332A87;
    }

    &.sidebar-fourth {
      --logo-color: #0C2236;
      --sidebar-bg-color: #EFF2F5;
      --sidebar-action-bg: #E2E7EC;
      --sidebar-item-active-bg: #6FB0F9;
    }

    &.sidebar-fifth {
      --logo-color: $white;
      --sidebar-bg-color: #20AE8C;
      --sidebar-action-bg: #119475;
      --sidebar-item-active-bg: #0D2B47;
      --sidebar-color: #F6F6E9 !important;
    }

    //&.sidebar-sixth {
    //  --sidebar-bg-color: #13191d;
    //  --sidebar-color: #f6f6e9;
    //  --sidebar-action-bg: #080c0f;
    //  --sidebar-item-active-bg: #5CB0FF;
    //}

    &.sidebar-seventh {
      --sidebar-bg-color: #20ae8c;
      --sidebar-color: #f6f6e9;
      --sidebar-action-bg: #119375;
      --sidebar-item-active-bg: #0D2B47;
      --sidebar-badge-bg: #00395f;
      --logo-color: #0D2B47;
    }

    &.sidebar-third,
    &.sidebar-fourth,
    &.sidebar-fifth,
    &.sidebar-sixth,
    &.sidebar-seventh {
      --sidebar-color: #004472;
      --sidebar-item-active: var(--sidebar-color);
    }
    &.sidebar-second,
    &.sidebar-third,
    &.sidebar-fourth,
    &.sidebar-fifth,
    &.sidebar-seventh,
    &.sidebar-transparent {
      --sidebar-nav-title-color: rgba(82,135,185, 0.6);
    }

    &.sidebar-sixth,
    &.sidebar-seventh {
      --sidebar-color: #f6f6e9;
    }

    &.sidebar-transparent {
      --sidebar-bg-color: transparent;
      --sidebar-action-bg: transparent;
      --sidebar-color: #6c757d;
    }
  }
}
