.root {
  &.sing-dashboard {
    --logo-color: #5CB0FF;
    --body-bg: #f9fbfd;
    --light-color: #F6F6E9;

    --sidebar-bg-color: #002B49;
    --sidebar-color: #fff;
    --sidebar-action-bg: #042338;
    --sidebar-item-active: #fff; //var(--light-color)
    --sidebar-item-active-bg: #5CB0FF;
    --sidebar-badge-bg: #1A86D0;

    --sidebar-nav-title-color: #5287B999;

    --widget-shadow-color: 75, 102, 171;

    --navbar-bg: #fff;
    --navbar-shadow: 0 15px 20px -20px rgba(var(--widget-shadow-color), 0.1), 0 0 15px rgba(var(--widget-shadow-color), 0.06);


    // dependable variables
    --sidebar-progress-bg-color: var(--sidebar-action-bg);
    --sidebar-icon-active: var(--sidebar-bg-color);
    --sidebar-item-hover-bg-color: var(--sidebar-action-bg);
    --widget-shadow: 4px 4px 30px rgba(var(--widget-shadow-color), 0.2);

    &.sidebar-white,
    &.sidebar-transparent {
      --sidebar-bg-color: #ffffff;
      --sidebar-color: #6c757d;
      --sidebar-action-bg: #f9fafe;
      --logo-color: #0D2B47;
      --sidebar-item-active: #14191D;
      --sidebar-item-active-bg: #4A5056;
      --sidebar-nav-title-color: #5287B9;
    }

    &.sidebar-first {
      --sidebar-bg-color: #004472;
      --sidebar-action-bg: #00395f;
      --sidebar-color: #fff;
    }

    &.sidebar-second {
      --logo-color: #0D2B47;
      --sidebar-color: #14191D;
      --sidebar-bg-color: #e9ebef;
      --sidebar-action-bg: #dbdee4;
      --sidebar-item-active-bg: #0D2B47;
      --sidebar-item-active: #14191D;
    }

    &.sidebar-third {
      --logo-color: #0D2B47;
     --sidebar-bg-color: #d1e7f5;
      --sidebar-action-bg: #bedcf2;
    }

    &.sidebar-fourth {
      --logo-color: #0D2B47;
      --sidebar-bg-color: #ccdde9;
      --sidebar-action-bg: #bacedc;
      --sidebar-item-active-bg: #0D2B47;
    }

    &.sidebar-fifth {
      --logo-color: #0D2B47;
      --sidebar-bg-color: #d6dfe6;
      --sidebar-action-bg: #bdc9d4;
      --sidebar-item-active-bg: #0D2B47;
    }

    &.sidebar-sixth {
      --sidebar-bg-color: #13191d;
      --sidebar-color: #f6f6e9;
      --sidebar-action-bg: #080c0f;
      --sidebar-item-active-bg: #5CB0FF;
    }

    &.sidebar-seventh {
      --sidebar-bg-color: #20ae8c;
      --sidebar-color: #f6f6e9;
      --sidebar-action-bg: #119375;
      --sidebar-item-active-bg: #0D2B47;
      --sidebar-badge-bg: #00395f;
      --logo-color: #0D2B47;
    }

    &.sidebar-third,
    &.sidebar-fourth,
    &.sidebar-fifth,
    &.sidebar-sixth,
    &.sidebar-seventh {
      --sidebar-color: #004472;
      --sidebar-item-active: var(--sidebar-color);
    }
    &.sidebar-second,
    &.sidebar-third,
    &.sidebar-fourth,
    &.sidebar-fifth,
    &.sidebar-seventh,
    &.sidebar-transparent {
      --sidebar-nav-title-color: rgba(82,135,185, 0.6);
    }

    &.sidebar-sixth,
    &.sidebar-seventh {
      --sidebar-color: #f6f6e9;
    }

    &.sidebar-transparent {
      --sidebar-bg-color: transparent;
      --sidebar-action-bg: transparent;
      --sidebar-color: #6c757d;
    }
  }
}
