.root {
  &.sing-dashboard {
    --logo-color: white;

    --sidebar-bg: #313947;
    --sidebar-color: #a6b2c1;
    --sidebar-action-bg: #2e3542;

    --sidebar-panel-bg-color: #2e3542;
    --sidebar-nav-title-color: #dedede;

    --widget-shadow-color: 115, 162, 208;

    --navbar-bg: #fff;
    --navbar-shadow: 0 15px 20px -20px rgba(var(--widget-shadow-color), 0.1), 0 0 15px rgba(var(--widget-shadow-color), 0.06);



    // dependable variables
    --chat-sidebar-bg-color: var(--sidebar-bg);
    --sidebar-progress-bg-color: var(--sidebar-action-bg);
    --sidebar-item-hover-bg-color: var(--sidebar-action-bg);
    --widget-shadow: 0 23px 20px -20px rgba(var(--widget-shadow-color), 0.1), 0 0 15px rgba(var(--widget-shadow-color), 0.06);
  }
}
