@import '../../../../../styles/app';

.filterElement {
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-bottom: $content-padding / 2;

  &:last-child {
    margin-left: 0;
  }
}

.filterElementLable {
  margin-right: 10px;
  font-weight: $font-weight-normal;
}
