@import '../../../styles/app';

.dynamic-tables {
  #vueWayTable {
    th {
      font-size: $font-size-sm;

      &:after {
        color: $gray-200;
      }
    }

    .btn-default {
      background: none;
      border: none;
      box-shadow: none;
    }
  }
}

.VueTables__table.table {

  margin-top: 1rem;

  tr {
    th {
      color: theme-color('inverse');
    }
    td {
      vertical-align: middle;
    }
  }
  .VueTables__filters-row th {
    padding-top: 0;
  }
  .VueTables__sortable {
    .VueTables__sort-icon {
      margin-top: 3px;

      &:before {
        color: theme-color('inverse');
      }
    }
  }
}
