@import '../../../styles/app';

.dynamic-tables {
  #vueWayTable {
    th {
      font-size: $font-size-sm;

      &:after {
        color: $gray-200;
      }
    }

    .btn-default {
      background: none;
      border: none;
      box-shadow: none;
    }
  }
}

.VueTables__table {
  tr {
    th {
      background: $primary;
      color: #C2C2C2;
      border-color: transparent;
    }
  }
}
