@import '../../styles/app';

.app-header.navbar {
  height: $navbar-height;
  z-index: 100;
  padding: 0 1.85rem 0;
  background: var(--navbar-bg);
  box-shadow: var(--navbar-shadow);
  transition: $transition-base;
  border: none;
  font-weight: 500;
  justify-content: flex-start;

  .nav {
    height: 100%;
    padding: 0;

    .nav-item {
      .nav-link, .nav-link > a {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        padding: 0.5rem;
        color: $navbar-link-color;

        @include hover {
          color: $navbar-link-hover-color;
          background: $navbar-link-hover-bg;
          text-decoration: none;
        }

        .la {
          font-size: 20px;

          @include media-breakpoint-down(sm) {
            font-size: 27px;
          }
        }
      }
    }
  }

  &.header-dark {
    .nav {
      .nav-item {
        .nav-link, .nav-link > a {
          color: $white;

          @include hover {
            color: rgba($white, 0.7);
          }
        }
      }
    }

    .input-group-text {
      color: $white;
    }

    input::placeholder {
      color: rgba($white, 0.7);
    }

    .navbarBrand {
      color: $white;
    }
  }

  @include media-breakpoint-down(md) {
    padding: 0 $spacer/2;
  }

  &.navbar-floating-type {
    margin: $spacer $content-padding 0;
    border-radius: $border-radius;

    @media (max-width: breakpoint-max(sm)) {
      margin-left: $content-padding-sm;
      margin-right: $content-padding-sm;
    }
  }

  .form-group {
    width: 300px;
    input {
      background-color: #F9FAFE;
      &::placeholder {
        color: #4A5056;
        font-weight: $font-weight-normal;
      }
    }
    .input-group-prepend {
      margin-right: 0;
    }

    .input-group-text {
      border: none;
      background-color: #F9FAFE!important;
      transition: background-color ease-in-out 0.15s;
    }

  }

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 40px;
    width: 40px;
    background: #ffc247;
    font-weight: 600;
    font-size: 18px;
  }

  .avatar-badge {
    background-color: #0D2B47;
  }

  .navbarBrand {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
    pointer-events: none;

    i {
      font-size: 10px;
    }
  }

  .notificationsMenu {
    .dropdown-menu {
      left: auto !important;
      right: 0 !important;
      top: $navbar-height !important;
    }
  }

  .dropdown-toggle::after {
    display: none;
  }

  .settingsDropdown {
    .dropdown-item:focus {
      outline: none;
    }
    ul {
      width: 12rem;
      li {
        padding: 4px 0;
      }
    }
  }
}


